.App{
  background-color: aliceblue;

}

.line{
  height: 5px;
  width: 100vw; 
  background-color: rgb(14, 21, 112);
  margin-left: 5rem; 
}

.logo{
  display: flex; 
  padding: 1rem; 
  padding-left: 5rem;
  background-color: white
}

.sidebar{
  display: flex; 
  flex-direction: column;
  margin-left: 5rem; 
  padding: 1rem;
  width: 10vw; 
  height: 100vh; 
  background-color: rgb(14, 21, 112);
  overflow: hidden;
}

.collection-title{
  display: flex; 
  justify-content: center;
  padding: 1rem;
  color: white;
}

.collection-item{
  display:flex; 
  border: solid; 
  border-color: white; 
  padding: 2rem;
  color: white;

}

