.App{
  background-color: #49c5b6;
  position: relative;
  z-index: -2;
  /* font-family:Arial, Helvetica, sans-serif; */
}

.font-face-gm{
    font-family: 'Freedom';

}


.sidebar-container{
  position: relative; 
  width: 20vw; 
  height: 100vh; 
  background-color: #f9c1c0;
  z-index: -1; 
}

/* .line{
  position: relative;
  height: 5px;
  width: 100vw; 
  background-color:#DF6C4F;
  margin-left: 4rem; 
  border-radius: 5rem;
  z-index: 2;
} */

.top-line{
  height: 2rem;
  width: 100vw; 
  background-color: #DF6C4F;

}
.logo{
  display: flex; 
  padding: 1rem; 
  margin-left: 2rem;
  margin-right: 3rem;
  padding-top: 2rem; 
  width: 100vw;
  background-color:#faf0e9;
  color:rgb(0, 0, 0);
  border-radius: 2rem;
  margin-top: 2rem; 
  border-color: #DF6C4F;
  border-width: 5px; 
  
}



.collection-title{
  display: flex; 
  justify-content: center;
  padding: 1rem;
  color: white;
  margin-bottom: 2rem;
  text-decoration: underline ;
}

.collection-item{
  display:flex; 
  border: solid; 
  border-color: white; 
  border-radius: 10%;
  padding: 2rem;
  margin-bottom: 2rem;
  color: white;

}


.card {
  background-image:
    linear-gradient(180deg, white 3rem, #F0A4A4 calc(3rem), #F0A4A4 calc(3rem + 2px), transparent 1px),
    repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #DDD 1px, #DDD calc(1.5rem + 1px));
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  height: 14rem;
  width: 400px;

  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}


.main-grid{

  display: grid;
  grid-template-areas: 'sidebar center-content center-content';

  grid-auto-columns: 1fr; 
  justify-content: space-between;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 5rem;

}


.center{
grid-area: center-content;  
}

.sidebar{
  display: flex; 
  grid-area: sidebar;
  flex-direction: column;
  margin-left: 5rem; 
  padding: 1vh;
  width: 10vw; 
  height: 75vh; 
  background-color: #DF6C4F;
  overflow: hidden;
  margin-top: 2vh; 
  border-radius: 2rem; 
  z-index: 1;
}
