.App{
  background-color: #49c5b6
}

.line{
  height: 5px;
  width: 95vw; 
  background-color:#DF6C4F;
  margin-left: 6rem; 
  border-radius: 5rem;;

}

.top-line{
  height: 2rem;
  width: 100vw; 
  background-color: #DF6C4F;
  margin-left: 5rem; 
  border-radius: 2rem;;

}
.logo{
  display: flex; 
  padding: 1rem; 
  margin-left: 5rem;
  padding-top: 2rem; 
  background-color: white;
  color:rgb(14, 21, 112);
  border-radius: 2rem;
}

.sidebar{
  display: flex; 
  flex-direction: column;
  margin-left: 5rem; 
  padding: 1rem;
  width: 10vw; 
  height: 100vh; 
  background-color: #DF6C4F;
  overflow: hidden;
  border-radius: 2rem; 
}

.collection-title{
  display: flex; 
  justify-content: center;
  padding: 1rem;
  color: white;
  margin-bottom: 2rem;
  text-decoration: underline ;
}

.collection-item{
  display:flex; 
  border: solid; 
  border-color: white; 
  border-radius: 10%;
  padding: 2rem;
  margin-bottom: 2rem;
  color: white;

}

